<!DOCTYPE html>

<title>WishyWishy</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/img/favicon.ico">
<link href="/css/main.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<section id="main">
  <img id="logo" alt="WishyWishy" src="/img/logo.png">
  <h1 class="">Coming soon</h1>
</section>
